<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Step 5</title>
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <main class="main-contact container step-5">
    <div class="background"></div>

    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>

    <div class="grid-position">
      <div class="grid-position--top">

        <form action="step_6-product_1.html" method="get" class="question">
          <input type="hidden" name="question" value="How often should you text your partner?" />

          <h3>
            {{EN: How often should you text your partner?||JP:好きな人と連絡を取りたい頻度は？||CH: 您和喜欢的人多久联系一次？}}
          </h3>

          <div class="btns">

            <label class="btn btn__card">
              <input type="submit" name="answer" value="{{EN: Everyday||JP: 毎日||CH: 每天}}" hidden />

              <img src="./img/3-1.jpg" alt="">
              <p>
                {{EN: Everyday||JP: 毎日||CH: 每天}}
              </p>
            </label>

            <label class="btn btn__card">
              <input type="submit" name="answer" value="{{EN: Every other day||JP: 2日に1回||CH: 两天联系一次}}" hidden />

              <img src="./img/3-2.jpg" alt="">
              <p>
                {{EN: Every other day||JP: 2日に1回||CH: 两天联系一次}}
              </p>
            </label>

            <label class="btn btn__card">
              <input type="submit" name="answer" value="{{EN: When I feel like it||JP: 気が向いたとき||CH: 想要联系的时候}}" hidden />

              <img src="./img/3-3.jpg" alt="">
              <p>
                {{EN: When I feel like it||JP: 気が向いたとき||CH: 想要联系的时候}}
              </p>
            </label>
          </div>
        </form>
      </div>
    </div>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>