<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Step 7</title>
  <link rel="stylesheet" href="js/keyboard/keyboard.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
  <link rel="stylesheet" href="js/keyboard/keyboard.css" />
</head>

<body>
  <main class="main-contact step-7 container">
    <div class="background"></div>

    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>

    <div class="grid-position">
      <div class="grid-position--top">

        <form action="step_9.html" method="get">

          <h3>
            Let’s become friends with Maison KOSÉ official LINE account to get your sample!
          </h3>

          <div class="qr-block">
            <h5>
              Please scan the QR code below.
            </h5>
            <div id="qr_place">
              <img src="./img/QR.png" alt="QR">
            </div>
          </div>

          <div class="steps">
            <div class="step">
              <span class="num">Step1.</span> After adding friends, please type <span class="promo">「GNZ2012」</span> and
              send.
            </div>
            <div class="step">
              <span class="num">Step2.</span> Please type in the autoreply promo code below.
            </div>
            <div class="step">
              <span class="num">Step1.</span> Please enter your email.
            </div>
            <div class="step">
              <span class="num">Step1.</span> Click <span class="promo">「GET MY SAMPLE」</span> to receive your sample!
            </div>
          </div>

          <div class="keyboard">
            <div class="form-row">
              <input type="text" id="promo" name="promo" class="promo-input" placeholder="{{EN: PRMO CODE}}" />
            </div>
          </div>

          <div class="keyboard">
            <div class="form-row">
              <input type="email" id="email" name="email" class="email-input" placeholder="{{EN: Email address}}" />
            </div>
          </div>

          <div class="wrap-info hide-desktop">

          </div>

          <div class="wrap-info hide-mobile">

          </div>

          <div class="btns full">
            <label class="btn small-text disabled" id="termsSubmitLabel">
              <input type="submit" id="termsSubmit" disabled />
              {{EN: GET MY SAMPLE}}
            </label>
          </div>
        </form>
      </div>

      <div class="grid-position--bottom">
      </div>
    </div>

  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
  <script src="js/keyboard/jquery.keyboard.min.js"></script>
  <script src="js/scripts.min.js"></script>
</body>

</html>